pandas>=2.2
numpy
jupyter
datetimerange
prophet
altair
copia
vl-convert-python
seaborn
great-tables
# we used an unreleased version of copia with label options for plots
git+https://github.com/mikekestemont/copia@3e57da4
matplotlib==3.7